html {
	box-sizing: border-box;
	background: #ffc600;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.panels {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	
	.panel {    
    flex: 1; /* Ajustez cette valeur pour changer la taille relative des panels */
    height: 1000px; /* Exemple de hauteur fixe, ajustez selon vos besoins */
    background-size: cover;
    background-position: center;
		background: #6B0F9C;
		box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
		color: white;
		text-align: center;
		align-items: center;
		transition: 
			font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
			flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
			background 0.2s;
		font-size: 20px;
		background-size: cover;
		background-position: center;
		flex: 1;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		
		&.panel1 {
			background-image: url('../images/realisation/plomart1.png');
		}

		&.panel2 {
			background-image: url('../images/realisation/plomart3.png');
		}

		&.panel3 {
			background-image: url('../images/realisation/plomart2.png');
		}

    &.panel4 {
			background-image: url('../images/realisation/plomart2.png');
		}
		
		> * {
			margin: 0;
			width: 100%;
			transition: transform 0.5s;
			flex: 1 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			
			&:first-child {
				transform: translateY(-100%);
			}
			
			&:last-child {
				transform: translateY(100%);
			}
		}
		
		&.open-active > *:first-child {
			transform: translateY(0);
		}
		
		&.open-active > *:last-child {
			transform: translateY(0);
		}
		
		&.open {
			font-size: 40px;
			flex: 5;
		}
		
		p {
			text-transform: uppercase;
			font-family: 'Amatic SC', cursive;
			text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
			font-size: 2em;
			
			&:nth-child(2) {
				font-size: 4em;
			}
		}
	}
}

.cta {
	color: white;
	text-decoration: none;
}